@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
.desc{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    font-family: 'Cairo';
}
.descCh{
    
    height: 80vh;
    width: 30%;
    
}
.descChm{
 
    height: 80vh;
    width: 30%;
}
.descChm img {
    height: 80vh;
    object-fit: contain;
   
}
.miniImg{
    
    width: 9%;
}
.pDetail{
    
    width: 60%;
    margin: auto;
   height: auto;
}
.pDetail>h3{
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}
.pDetail>p{
    font-size: 12px;
    line-height: 1.2rem;
}

.cartbtn{
    
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 10px ;
}
.bucketbtn{
    display: none;
}

.pSize{
    border: 1px solid black;
    margin-top: 10px;
   border-left: none;
   border-right: none;
}
.extraD{
   
    width: 50%;

}
.extraD>h3{
    font-weight: 700;

}
.extraD>p{
    font-size: 0.8rem;
}
.extraDP{
   
    height: 77vh;
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}