.slide{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}
.slide img{
    width: 100%;
    height: 100vh;
    object-fit: fill;
}

.men_footer{
  
  height: 100vh;
  display: flex;
  justify-content: flex-end;
text-align: center;
  flex-direction: column;
  gap: 15rem;

}
.newsletter p {
    letter-spacing: 0.1rem;
   font-weight: 300; 
   line-height: 8rem;
}
.newsletter a{
    letter-spacing: 1px;
    font-size: 0.7rem;
    text-decoration: none;
    margin: 5px;
}
.zara_address{
   
    text-align: left;
    font-size: 0.6rem;
    padding: 0.5em;
   letter-spacing: 0;
   margin-left: 2rem;
}