.nav_cont{
    display: flex;
    justify-content: space-between;
   padding : 20px;
   padding-bottom: 0px;
}
.logo{
    height: 150px;
    width : 250px;
   
}
.logo_div{
    display: flex;
    gap : 80px;
}

.end_MainDiv{
    /* border  : 1px solid red; */
    height : 150px;
    width : 350px;


}
.search u::after{
    width : 180px;
    /* text-decoration: underline; */
    content: "................";
    color: transparent;
}