.nav_cont{
    display: flex;
    justify-content: space-between;
   padding : 20px;
   padding-bottom: 0px;
}
.logo{
    height: 120px;
    width : 220px;
   
}
.logo_div{
    display: flex;
    gap : 80px;
}

.end_MainDiv{
    /* border  : 1px solid red; */
    height : 150px;
    width : 350px;


}
/* .search {
    border-bottom: 1px solid black;
  width: 10%;
    /* border: 1px solid red; */
/* }  */